## Supercharge `value_counts()` Method in Pandas With Sidetable

In [2]:
! pip install sidetable

Requirement already satisfied: sidetable in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from sidetable) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=1.0->sidetable) (2021.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=1.0->sidetable) (1.22.1)
Requirement already satisfied: six>=1.5 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.0->sidetable) (1.16.0)

In [3]:
import pandas as pd
import sidetable

In [6]:
df = pd.read_csv("../dataset/employee_dataset.csv")
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

## Value_counts

In [8]:
df['Employee_City'].value_counts()

West Jamesview       120
Aliciafort           113
New Cindychester     106
Ricardomouth         106
Whiteside            104
Kristaburgh           97
Wardfort              96
New Russellton        93
Whitakerbury          87
North Melissafurt     78
Name: Employee_City, dtype: int64

## Sidetable

In [9]:
df.stb.freq(["Employee_City"], style = True)