## Don't Create Conditional Columns in Pandas with Apply

In [1]:
import pandas as pd
import numpy as np

In [2]:
def assign_class(num):
    if num>0.5:
        return "Class A"
    return "Class B"

In [3]:
df = pd.DataFrame(np.random.random((10**7,1)).round(2), columns = ["col1"])

In [4]:
df.head()

   col1
0  0.67
1  0.43
2  0.20
3  0.63
4  0.83

In [5]:
%timeit a = df.col1.apply(assign_class)

734 ms ± 3.32 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%timeit a = np.where(df["col1"]>0.5, "Class A", "Class B")

132 ms ± 901 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)