## The Best File Format To Store A Pandas DataFrame

### Import Necessary Library

In [1]:
import os
import pandas as pd

### Load the dataset

In [2]:
df = pd.read_csv('../dataset/employee_dataset.csv')
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

In [3]:
for i in range(13):
    df = pd.concat((df, df))
    print(df.shape)
    
df.reset_index(drop = True, inplace = True)

(2000, 9)
(4000, 9)
(8000, 9)
(16000, 9)
(32000, 9)
(64000, 9)
(128000, 9)
(256000, 9)
(512000, 9)
(1024000, 9)
(2048000, 9)
(4096000, 9)
(8192000, 9)

### Dump to CSV

In [4]:
%time df.to_csv("../dataset/dump_to_csv.csv")

CPU times: user 31.9 s, sys: 879 ms, total: 32.8 s
Wall time: 32.8 s

In [5]:
file_size = os.path.getsize('../dataset/dump_to_csv.csv')
print(f"File Size is {file_size/(1024**2)} MB")

File Size is 862.112359046936 MB

In [6]:
!rm ../dataset/dump_to_csv.csv

### Dump to Pickle

In [7]:
%time df.to_pickle("../dataset/dump_to_pickle.pickle")

CPU times: user 1.28 s, sys: 361 ms, total: 1.64 s
Wall time: 1.64 s

In [8]:
file_size = os.path.getsize('../dataset/dump_to_pickle.pickle')
print(f"File Size is {file_size/(1024**2)} MB")

File Size is 416.6713104248047 MB

In [9]:
!rm ../dataset/dump_to_pickle.pickle

### Dump to Parquet

In [10]:
%time df.to_parquet("../dataset/dump_to_parquet.parquet")

CPU times: user 3.25 s, sys: 635 ms, total: 3.89 s
Wall time: 3.82 s

In [11]:
file_size = os.path.getsize('../dataset/dump_to_parquet.parquet')
print(f"File Size is {file_size/(1024**2)} MB")

File Size is 3.9962005615234375 MB

In [12]:
!rm ../dataset/dump_to_parquet.parquet

### Dump to Feather

In [13]:
%time df.to_feather("../dataset/dump_to_feather.feather")

CPU times: user 2.34 s, sys: 806 ms, total: 3.15 s
Wall time: 2.14 s

In [14]:
file_size = os.path.getsize('../dataset/dump_to_feather.feather')
print(f"File Size is {file_size/(1024**2)} MB")

File Size is 282.39500617980957 MB

In [15]:
!rm ../dataset/dump_to_feather.feather