## Write Your Own Flavor Of Pandas

In [1]:
! pip install pandas-flavor

Collecting pandas-flavor
  Downloading pandas_flavor-0.3.0-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.23 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas-flavor) (1.5.2)
Collecting xarray
  Downloading xarray-2023.1.0-py3-none-any.whl (973 kB)
     |████████████████████████████████| 973 kB 490 kB/s eta 0:00:01
Collecting lazy-loader==0.1rc2
  Downloading lazy_loader-0.1rc2-py3-none-any.whl (5.1 kB)
Requirement already satisfied: pytz>=2020.1 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas-flavor) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas-flavor) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from pandas>=0.23->pandas-flavor) (1.22.1)
Requirement already satisfied: packaging>=21.3 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from xarray->pandas-flavor) (21.3)
Requirement already satisfied: six>=1.5 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-flavor) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/fm-pc-lt-227/.local/lib/python3.8/site-packages (from packaging>=21.3->xarray->pandas-flavor) (3.0.6)
Installing collected packages: xarray, lazy-loader, pandas-flavor
Successfully installed lazy-loader-0.1rc2 pandas-flavor-0.3.0 xarray-2023.1.0

In [2]:
import pandas as pd
import pandas_flavor as pf

In [4]:
df = pd.DataFrame({'Planets': ['Mercury', 'Venus'], 
                   'Position': [1, 2]})
df

   Planets  Position
0  Mercury         1
1    Venus         2

In [5]:
@pf.register_dataframe_method

def add_rows(df, rows):
    
    for row in rows:
        df.loc[df.shape[0]] = row

In [6]:
new_rows = [["Earth", 3], 
            ["Mars" , 4]]

In [7]:
df.add_rows(new_rows)

In [8]:
df

   Planets  Position
0  Mercury         1
1    Venus         2
2    Earth         3
3     Mars         4