## Alter the Datatype of Multiple Columns at Once

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1,7,"4","A"], 
                   [3,9,"6","B"], 
                   [6,2,"5","A"], 
                   [5,4,"1","C"], 
                   [10,2,"9","D"]], 
                 columns = ["col1","col2","col3","col4"])

In [3]:
df

   col1  col2 col3 col4
0     1     7    4    A
1     3     9    6    B
2     6     2    5    A
3     5     4    1    C
4    10     2    9    D

## One column at a time

In [4]:
df["col1"] = df.col1.astype(np.int32)
df["col2"] = df.col2.astype(np.int16)
df["col3"] = df.col3.astype(np.float16)

## Check Datatype

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int32
 1   col2    5 non-null      int16
 2   col3    5 non-null      float16
 3   col4    5 non-null      object
dtypes: float16(1), int16(1), int32(1), object(1)
memory usage: 208.0+ bytes

## Multiple columns at once

In [6]:
df = pd.DataFrame([[1,7,"4","A"], 
                   [3,9,"6","B"], 
                   [6,2,"5","A"], 
                   [5,4,"1","C"], 
                   [10,2,"9","D"]], 
                 columns = ["col1","col2","col3","col4"])

In [7]:
df

   col1  col2 col3 col4
0     1     7    4    A
1     3     9    6    B
2     6     2    5    A
3     5     4    1    C
4    10     2    9    D

In [8]:
df = df.astype({"col1":np.int32, 
                "col2":np.int16, 
                "col3":np.float16})

## Check Datatype

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int32
 1   col2    5 non-null      int16
 2   col3    5 non-null      float16
 3   col4    5 non-null      object
dtypes: float16(1), int16(1), int32(1), object(1)
memory usage: 208.0+ bytes