## Create Pandas DataFrame from Dataclass

In [1]:
import pandas as pd
from dataclasses import dataclass

In [2]:
@dataclass

class PandasDataframe:

    x_loc:int
    y_loc:int

In [3]:
points = [PandasDataframe(0, 0), 
          PandasDataframe(0, 3), 
          PandasDataframe(2, 3)]

pd.DataFrame(points)

   x_loc  y_loc
0      0      0
1      0      3
2      2      3